In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
# load dataset
data = pd.read_csv("data/auto-mpg.data-original", delim_whitespace = True, header = None)
# Add column headings
data.columns = ['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration', 'Model Year', 'Origin', 'Car Name']

In [3]:
# Sample the data
data.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin,Car Name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino

In [4]:
# Converting labels to integer values
le = preprocessing.LabelEncoder()
labels = data.iloc[:, 8]
le.fit(labels)
data.iloc[:, 8] = le.transform(labels)
data.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin,Car Name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,50
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,37
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,235
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,14
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,164

In [5]:
# get shape of data
number_of_nan = pd.isnull(data).sum().sum() # get number of nan values
print("The Shape of the data: {} x {}".format(data.shape[0], data.shape[1]))
print("Number of NaN values: {}".format(number_of_nan))

The Shape of the data: 406 x 9
Number of NaN values: 14

In [6]:
column_names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration', 'Model Year', 'Origin']
data_dropna = data.dropna()
for cn in column_names:
    data[cn] = data[cn].fillna(np.median(data_dropna[cn]))
    
print("Finished converting Na values to Median values")

number_of_nan = pd.isnull(data).sum().sum() # get number of nan values
print("The number of Na values remaining in the data dataframe is: {}".format(number_of_nan))

Finished converting Na values to Median values
The number of Na values remaining in the data dataframe is: 0