In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [2]:
% matplotlib inline

In [3]:
data_math = pd.read_csv("data/student-mat.csv", delimiter = ";")
data_port = pd.read_csv("data/student-por.csv", delimiter = ";")

In [4]:
# Sample
data_math.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
# Sample column
data_math.T.iloc[:, 0:1]

                  0
school           GP
sex               F
age              18
address           U
famsize         GT3
Pstatus           A
Medu              4
Fedu              4
Mjob        at_home
Fjob        teacher
reason       course
guardian     mother
traveltime        2
studytime         2
failures          0
schoolsup       yes
famsup           no
paid             no
activities       no
nursery         yes
higher          yes
internet         no
romantic         no
famrel            4
freetime          3
goout             4
Dalc              1
Walc              1
health            3
absences          6
G1                5
G2                6
G3                6

In [6]:
# Shape of the Math scored data
print("There are {} data points with {} features".format(data_math.shape[0], data_math.shape[1]))
# Shape of the Portuguese language scored data
print("There are {} data points with {} features".format(data_port.shape[0], data_port.shape[1]))

There are 395 data points with 33 features
There are 649 data points with 33 features

In [7]:
num_nan_null = data_math.isnull().sum().sum()
print("There are {} Nan, None, or Null values in data_math".format(num_nan_null))
num_nan_null = data_port.isnull().sum().sum()
print("There are {} Nan, None, or Null values in data_port".format(num_nan_null))

There are 0 Nan, None, or Null values in data_math
There are 0 Nan, None, or Null values in data_port

In [8]:
# Find the categories that should be relabelled to integer values
# Get binary labels
n_x = data_math.shape[1]
binary_labels = []
for i in range(n_x):
    cat_length = len(pd.Series.value_counts(data_math.iloc[:, i]))
    if cat_length <= 5:
        print(data_math.columns[i])
        print(pd.Series.value_counts(data_math.iloc[:, i]))

school
GP    349
MS     46
Name: school, dtype: int64
sex
F    208
M    187
Name: sex, dtype: int64
address
U    307
R     88
Name: address, dtype: int64
famsize
GT3    281
LE3    114
Name: famsize, dtype: int64
Pstatus
T    354
A     41
Name: Pstatus, dtype: int64
Medu
4    131
2    103
3     99
1     59
0      3
Name: Medu, dtype: int64
Fedu
2    115
3    100
4     96
1     82
0      2
Name: Fedu, dtype: int64
Mjob
other       141
services    103
at_home      59
teacher      58
health       34
Name: Mjob, dtype: int64
Fjob
other       217
services    111
teacher      29
at_home      20
health       18
Name: Fjob, dtype: int64
reason
course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64
guardian
mother    273
father     90
other      32
Name: guardian, dtype: int64
traveltime
1    257
2    107
3     23
4      8
Name: traveltime, dtype: int64
studytime
2    198
1    105
3     65
4     27
Name: studytime, dtype: int64
failures
0    312
1     50
2     17
3     16
Name: failures, dtype: int64
schoolsup
no     344
yes     51
Name: schoolsup, dtype: int64
famsup
yes    242
no     153
Name: famsup, dtype: int64
paid
no     214
yes    181
Name: paid, dtype: int64
activities
yes    201
no     194
Name: activities, dtype: int64
nursery
yes    314
no      81
Name: nursery, dtype: int64
higher
yes    375
no      20
Name: higher, dtype: int64
internet
yes    329
no      66
Name: internet, dtype: int64
romantic
no     263
yes    132
Name: romantic, dtype: int64
famrel
4    195
5    106
3     68
2     18
1      8
Name: famrel, dtype: int64
freetime
3    157
4    115
2     64
5     40
1     19
Name: freetime, dtype: int64
goout
3    130
2    103
4     86
5     53
1     23
Name: goout, dtype: int64
Dalc
1    276
2     75
3     26
5      9
4      9
Name: Dalc, dtype: int64
Walc
1    151
2     85
3     80
4     51
5     28
Name: Walc, dtype: int64
health
5    146
3     91
4     66
1     47
2     45
Name: health, dtype: int64